#formulario1 {
	border: inherit;
	margin: inherit;
	padding: 10px 0px 10px 0px;
	font-weight: 800;
}

#formulario2 {
	border: inherit;
	margin: inherit;
	padding: 10px 0px 10px 0px;
}

#formulario3 {
	border: inherit;
	margin: inherit;
	padding: 10px 0px 10px 0px;
}
